.wrapper {
  /*background: rgb(175, 175, 175);*/
  background-image: url("http://www.oldgames.sk/images/oldgames/adventure/Laura.Bow.1/laura1-06.gif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: flex-start;
  overflow: auto;
  padding-bottom: 50px;
}
